/*
Active calendar adapter styles.

Switch the active calendar library here (ONE line).
*/

@use './fullcalendar';

/*
React Big Calendar option:
@use '../../vendors/react-big-calendar' as rbc_vendor;
@use './react-big-calendar' as rbc;
*/
